h1, h2, pre{
    margin: 0 auto;
}

h1 {
    color:red;
}
/* TOP_learning.html へのcss */
table {
    border-collapse: collapse;
}

table th, table td {
    border: solid 1px black;
/*実線 1px 黒*/
}


/* aTag.html へのcss */
section > h2 {
    margin-bottom: 12px;
}
/* 構文 */
section.TagIn {
    color: white;
    background-color: black;
    margin-bottom: 10px;
}
/*構文と出力*/
section.TagOut , .TagIn {
    width: 25%;
    padding: 10px;
    border: solid 1.5px;
    border-color: black;
    border-radius: 10px;
}